@font-face {
    font-family: ChunkFiveRegular;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/chunkfive.eot?#iefix) format("embedded-opentype"), url(../fonts/chunkfive.woff) format("woff"), url(../fonts/chunkfive.ttf) format("truetype"), url(../fonts/chunkfive.svg#ChunkFiveRegular) format("svg")
}
.chunkfive{
	font-family: ChunkFiveRegular;
}
div:focus {
    outline: none;
    border: 0;
 }



.tabHeader .number{
	background-color: #cfc9d8;
	border-color: black;
}

.md-chill-button{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0);
	font-style: normal;
	font-family: ChunkFiveRegular;
	color: #ffffff;
	height: 42px;
	margin: 0px 0px; 
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
}
.md-chill-green-button{
	margin: 6px 0px 6px 8px;
	background-color: #a6c63c;
	min-width: 80%;
	font-size: 20pt;
	padding-top: 5px;
}
.panel-header{
				background-color: #f7f7f9;
				color: #4A2783;
							
				-webkit-transition: background-color 0.5s; /* For Safari 3.1 to 6.0 */
    		transition: background-color 0.5s;
			}
			.panel-header-active{
				
				background-color: white;
				
			}
			.panel-header .panel-number{
				background-color: #f7f7f9;
				border: #e7e7e9 1PX SOLID;
				width: 25px;
				height: 25px;
				text-align: center;
/*				margin-right: 30px;*/
				font-size: 0.8em;
				font-weight: bold;

				-webkit-border-radius: 25px;
				-moz-border-radius: 25px;
				border-radius: 25px;
				
				-webkit-transition: height 1s, width 1s,font-size 0.3s ; /* For Safari 3.1 to 6.0 */
    		transition: height 0.5s, width 0.5s, font-size 0.3s;
			}
			.panel-header .panel-title{
				font-size: 1.0em;
				-webkit-transition:font-size 0.3s ; /* For Safari 3.1 to 6.0 */
    		transition:  font-size 0.3s;
			}
			.panel-header-active .panel-title{
				font-size: 2.5em;
			}
			.panel-number-container{
				width: 100px;
			}
			.panel-header-active .panel-number{
				font-size: 1.5em;
				height: 50px;
				width: 50px;
			}
			.panel-body{
				background-color: white;
				height: 0px;
				padding: 0px;
				display: none;
				/*visibility: hidden;
				opacity: 0;*/
				transition:height 2s;
				
			}
			.panel-body-active{
				
				visibility: visible;
  				opacity: 1;
  				height: 1000px;
				display: initial;
				margin-bottom: 20px;
				
				transition:  height 2s;
				
				
			}
			.panel-container-header{
				padding: 15px 30px;
			}
			.panel-container-body{
				padding: 10px 130px;
			}
			.panel-container-body .template-canvas{
				    width: 100%;
			}